html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  color: $text-dark;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  min-height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}
