<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Parchot | page not found 😱</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="Description"
    content="A global online web studio offering services in designing and developing websites and applications."
  />
  <!-- Mobile header color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#2f3133" />
  <!-- Mobile header color Windows -->
  <meta name="msapplication-navbutton-color" content="#2f3133" />
  <!-- Mobile header color for iOS Safari (black, black-translucent or default) -->
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />
</head>
<body>

  <h1>404 Page not found</h1>

</body>
</html>
