<!-- Open Graph data / Facebook Card data -->
<meta property="og:title" content="Parchot | Web Design & Development" />
<meta property="og:type" content="website" />
<meta
  property="og:url"
  content="https://github.com/tr1s/tris-webpack-boilerplate"
/>
<meta property="og:image" content="https://i.imgur.com/lxRBpeb.jpg" />
<meta
  property="og:image:alt"
  content="A blue package, symbolizing what webpack does."
/>
<meta
  property="og:description"
  content="A simple yet thorough webpack starter boilerplate for static websites that achieves high performance and cover all best practices."
/>

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@parchot" />