
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parchot | Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="Description"
    content="A global online web studio offering services in designing and developing websites and applications."
  />
  <!-- Mobile header color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#2f3133" />
  <!-- Mobile header color Windows -->
  <meta name="msapplication-navbutton-color" content="#2f3133" />
  <!-- Mobile header color for iOS Safari (black, black-translucent or default) -->
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black"
  />
</head>
<body>

  <section class="projects" id="projects">
    <div class="projects__wrapper">
      <div class="projects__text-container">
        <p class="text__subheading">PORTFOLIO</p>
        <h2 class="text__heading">Our latest projects, crafted for a range of businesses and 
          ambitious individuals.</h2>
      </div>
      <div class="projects__work-container">
        <div class="projects__image-container">
          <picture>
            <source class="projects__image" type="image/webp" srcset="images/vistar.jpg.webp">
            <source class="projects__image" type="image/jpeg" srcset="images/vistar.jpg">
            <img class="projects__image" src="../images/vistar.jpg" alt="">
          </picture>
        </div>
        <div class="projects__info-box">
          <div class="projects__flexbox">
            <p class="projects__name">VISTAR</p>
            <p class="projects__year">2020</p>
          </div>
          <p class="projects__description">Dare to explore the world.</p>
        </div>
      </div>
      <div class="projects__work-container">
        <div class="projects__image-container">
          <picture>
            <source class="projects__image" type="image/webp" srcset="images/siempree.jpg.webp">
            <source class="projects__image" type="image/jpeg" srcset="images/siempree.jpg">
            <img class="projects__image" src="../images/siempree.jpg" alt="">
          </picture>
        </div>
        <div class="projects__info-box">
          <div class="projects__flexbox">
            <p class="projects__name">SIEMPREE</p>
            <p class="projects__year">2020</p>
          </div>
          <p class="projects__description">Full-scale website for a global branding company.</p>
        </div>
      </div>
      <div class="projects__work-container">
        <div class="projects__image-container">
          <picture>
            <source class="projects__image" type="image/webp" srcset="images/rapha.jpg.webp">
            <source class="projects__image" type="image/jpeg" srcset="images/rapha.jpg">
            <img class="projects__image" src="../images/rapha.jpg" alt="">
          </picture>
        </div>
        <div class="projects__info-box">
          <div class="projects__flexbox">
            <p class="projects__name">RAPHA WALK</p>
            <p class="projects__year">2020</p>
          </div>
          <p class="projects__description">Fundraising marathon for a free clinic.</p>
        </div>
      </div>
      <div class="projects__work-container">
        <div class="projects__image-container">
          <picture>
            <source class="projects__image" type="image/webp" srcset="images/novelle.jpg.webp">
            <source class="projects__image" type="image/jpeg" srcset="images/novelle.jpg">
            <img class="projects__image" src="../images/novelle.jpg" alt="">
          </picture>
        </div>
        <div class="projects__info-box">
          <div class="projects__flexbox">
            <p class="projects__name">NOVELLE</p>
            <p class="projects__year">2019</p>
          </div>
          <p class="projects__description">Setting the standard for digital storytelling.</p>
        </div>
      </div>
      <div class="projects__work-container">
        <div class="projects__image-container">
          <picture>
            <source class="projects__image" type="image/webp" srcset="images/awakening.jpg.webp">
            <source class="projects__image" type="image/jpeg" srcset="images/awakening.jpg">
            <img class="projects__image" src="../images/awakening.jpg" alt="">
          </picture>
        </div>
        <div class="projects__info-box">
          <div class="projects__flexbox">
            <p class="projects__name">AWAKENING</p>
            <p class="projects__year">2019</p>
          </div>
          <p class="projects__description">Website for an upscale beauty salon.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Content -->

</body>
