/* COLORS */
$pure-white: #fff;
$white: #ddd;
$grey: #666;
$dark-grey: #444;
$light-black: #262626;
$black: #222;
$brown: #c88b8b;

/* GLOBAL COLORS */
$primary: $brown;
$background: $black;
$background-2: $light-black;
$background-alt: $pure-white;
$text-light: $white;
$text-dark: $dark-grey;

/* GLOBAL SIZING AND POSITIONING */
$v-margin: 30px;
$h-margin: 40px;
$v-margin-desktop: 50px;
$h-margin-desktop: 60px;
$nav-margin: 10px;
$menu-margin: -10px;
$menu-height: 3.5px;
$menu-width: 40px;